
.vs/slnProducts/v15/Server/sqlite3/storage.ide-wal
.vs/slnProducts/v15/Server/sqlite3/storage.ide-shm
.vs/slnProducts/v15/Server/sqlite3/storage.ide
.vs/slnProducts/v15/Server/sqlite3/db.lock
.vs/config/applicationhost.config
.vs/slnProducts/config/applicationhost.config
.vs/slnProducts/v16/Server/sqlite3/db.lock
.vs/slnProducts/v16/Server/sqlite3/storage.ide
.vs/slnProducts/v16/Server/sqlite3/storage.ide-shm
.vs/slnProducts/v16/Server/sqlite3/storage.ide-wal
